# Assignement 2

Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (10 points)

In [2]:
# Can your print the letters of Agriculture by using for loops. Your output will look like this:
# A
# g
# r
# i
# c
# u
# l
# t
# u
# r
# e

## Your code here - down ##
my_string = "Agriculture"

for c in my_string:
    print(c)

## Your code here - up ##

A
g
r
i
c
u
l
t
u
r
e

## Question 2 (40 Points)

In [5]:
# Find the sum of numbers from 1 to 50(including) by using for loops.

## Your code here - down ##
my_numbers = list(range(1, 51))
print(sum(my_numbers))

## Your code here - up ##

1275

## Question 3 (50 points)

In [8]:
# Now let's find sum of even and odd numbers from 1 to 50 (including). Are the results same?

# Sum of even  numbers

## Your code here - down ##
vector = list(range(1, 51))

even_sum = 0
odd_sum = 0
for element in vector:
    if element % 2 == 0:
        even_sum += element
    else:
        odd_sum += element

print("The sum of all even elements in the vector is:", even_sum)
print("The sum of all odd elements in the vector is:", odd_sum)
## Your code here - up ##

## The results are different because there is one more even number than odd

The sum of all even elements in the vector is: 650
The sum of all odd elements in the vector is: 625

In [6]:
# Sum of odd numbers

## Your code here - down ##

# Done above

## Your code here - up ##

In [7]:
# In this cell explain the difference.

## The results are different because there is one more even number than odd as we included 1 and 50 in our formula