# Training 2

## Mathematical Operations

In [ ]:
# Addition
16 + 5

21

In [ ]:
# Subtraction
16 - 5

11

In [ ]:
# Multipilication
16 * 5

80

In [ ]:
# Division
16 / 5

3.2

In [ ]:
# Remainder
16 % 5

1

In [ ]:
# Quotient
16 // 5

3

In [ ]:
# Equal vs Assign
# Equal is == (two eqaul signs), Assign is = (One equal sign)

## For Loops

In [ ]:
crops = ['canola', 'barley', 'wheat']

In [ ]:
# A for loop is used for iterating over a sequence.
for crop in crops:
    print(crop)

canola
barley
wheat

In [ ]:
yields = [34, 40, 45]

for y in yields:
    print(y)

34
40
45

In [ ]:
# Finding sum of yields.
yields = [34, 40, 45]
total_1 = 0
for y in yields:
    total_1 = total_1 + y
print(total_1)

119

In [ ]:
# Finding Sum via sum()
sum(yields)

119

In [ ]:
# range(n) finctions gives us from 1 to n-1
print('Result of print(range(10)): ', range(10))

Result of print(range(10)):  range(0, 10)

In [ ]:
# list() returns a list []
print('Result of print list(range(10)): ', list(range(10)))

Result of print list(range(10)):  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# What us += sign in Python? 
# This operator is often referred to as the addition assignment operator.
a = 16
a+=5
print(a)

21

In [ ]:
# Finding sum another way
total_2 = 0
for i in range(1, 101):
    total_2 += i
print(total_2)

5050

In [ ]:
# For Loops with coditions
total_3 = 0
for i in range(1, 15):
    if i % 5 == 0:
        total_3 += i
print(total_3)

15

In [ ]:
# Building a  function
def sum_of_divisors():
    total_3 = 0
    for i in range(1, 15):
        if i % 5 == 0:
            total_3 += i
    print(total_3)

In [ ]:
sum_of_divisors()

15

In [ ]:
numbers = [5, 3, 1, -2, -3, -5]
total_4 = 0
for i in numbers:
    if i <= 0:
        break
    total_4 += i
print(total_4)

9

## While Loops

In [ ]:
total_5 = 0
j = 1
while j < 101:
    total_5 += j
    j += 1
print(total_5)

5050